/* Float Prototype settings fields */
fieldset.field-prototype-field-settings div.form-type-textfield {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

/* Cancel float between sections */
div.settings-section {
    clear: both;
}